
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-alta-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--
FORMULARIO DE ALTA
-->

    <div class="container">
        <div class="form-group">
          <h1 class="display-6">Alta nueva cuenta</h1>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="divisa">Divisa:</label>
          <div class="col-sm-2">
            <select class="form-control" name="divisa" value="{{currency::input}}" required>
                <option value="" selected>divisa</option>
                <option>EUR</option>
                <option>USD</option>
            </select>
          </div>
        </div>
        <div class="container">
          </br>
          <button type="button" class="btn btn-ttc" on-click="altaCuenta">Alta</button>
          <button type="button" class="btn btn-ttc" on-click="volverCuentas">Volver</button>
          </br>
        </div>
    </div>

    </br>
    <div id="mensaje"></div>

<!-- Ejecución en local-->
    <!-- <iron-ajax
      id="doNewAccount"
      url="http://localhost:3000/apitechu/v2/accounts"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showErrorNew"
    > -->
<!-- Ejecución en openshift     url="http://imagentpbank-tpbank.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/accounts"-->

    <iron-ajax
      id="doNewAccount"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/accounts"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showErrorNew"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAltaCuenta extends Polymer.Element {
      static get is() { return 'my-alta-cuenta'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          currency: {
            type: String
          }
        };
      }

      altaCuenta() {
        console.log("estamos en la funcion de alta de cuenta");
        this.shadowRoot.getElementById("mensaje").innerHTML = "";
        if ((this.currency == null) || (this.currency == "")) {
          this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
          this.shadowRoot.getElementById("mensaje").innerHTML = "Por favor, informa la <strong> DIVISA. </strong>";
        } else {

            var altaData = {
              "user_id": parseInt(this.id),
              "currency" : this.currency
            };

            console.log("altaData:" + altaData);
            this.$.doNewAccount.body = JSON.stringify(altaData);
            this.$.doNewAccount.generateRequest();
            console.log("Petición enviada");
            this.currency = null;
        }
      }

      volverCuentas(e) {
        console.log("estoy en volver a cuentas");
        this.shadowRoot.getElementById("mensaje").innerHTML = "";
        this.dispatchEvent(new CustomEvent("vueltacuentas", {"detail":{"id":this.id}}));

      }
      manageAJAXResponse(data) {
        console.log("respuesta del iron-ajax de alta");
        console.log(data.detail.response);
        this.shadowRoot.getElementById("mensaje").innerHTML = "";
        this.dispatchEvent(new CustomEvent("vueltacuentas", {"detail":{"id":this.id}}));
      }

      showErrorNew(error) {
        console.log('ERROR .... ');
        console.log(error);
        if (error.detail.request.__data.status == 404) {
          this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
          this.shadowRoot.getElementById("mensaje").innerHTML = "<strong> ERROR</strong>, la divisa debe ser EUR(euro) o USD(dólar)";
          this.currency = null;
        } else {
          this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
          this.shadowRoot.getElementById("mensaje").innerHTML = "Se ha producido un <strong> ERROR. </strong> Por favor, revisa la información y vuelve a intentalo!!!!!";
          this.currency = null;
        }

      }

    }

    window.customElements.define(MyAltaCuenta.is, MyAltaCuenta);

  </script>
</dom-module>
