<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-alta-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--
FORMULARIO DE ALTA
-->
    <div>
      <h2>Date de alta</h2>
      <p>Por favor, introduce tus datos para poder darte de alta</p>
    </div>

    <div class="my-form">
      <form>
        <label class="my-label">Email:</label>
        </br>
        <input class="my-input" id="email" type="email" placeholder="Email" value="{{email::input}}"></input>
        </br>
        <label class="my-label">Password:</label>
        </br>
        <input class="my-input" id="password" type="password" placeholder="Password" value="{{password::input}}"></input>
        </br>
        <label class="my-label">Nombre:</label>
        </br>
        <input class="my-input" id="firstname" type="text" placeholder="Nombre" value="{{first_name::input}}"></input>
        </br>
        <label class="my-label">Apellidos:</label>
        </br>
        <input class="my-input" id="lastname" type="text" placeholder="Apellidos" value="{{last_name::input}}"></input>
        </br>
      </form>
    </div>

    <button class="my-button btn btn-ttc" on-click="altaUsuario">Alta</button>
    </br>
    </br>

    <div id="mensalta"></div>

<!-- Ejecución en local-->
    <!-- <iron-ajax
      id="doAlta"
      url="http://localhost:3000/apitechu/v1/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    > -->

<!-- Ejecución en openshift-->
    <iron-ajax
      id="doAlta"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAltaUsuario extends Polymer.Element {
      static get is() { return 'my-alta-usuario'; }
      static get properties() {
        return {
            first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }
        };
      }
      manageAJAXResponse(data) {
        console.log("respuesta del iron-ajax de alta");
        console.log(data.detail.response);
        this.first_name = null;
        this.last_name = null;
        this.email = null;
        this.password = null;
        this.shadowRoot.getElementById("mensalta").style.color = "#1D5512";
        this.shadowRoot.getElementById("mensalta").innerHTML = "GENIAL, ya eres cliente !!! </strong> El alta se ha realizado correctamente. Ya puedes 'Entrar en tu Banco'";

      }

      altaUsuario() {
        console.log("estamos en la funcion de alta de usuario");
        console.log("vamos a enviar la petición");

        if (this.validarFormulario() != 0) {

          this.shadowRoot.getElementById("mensalta").style.color = "#ff0000";
          if (this.validarFormulario() == 1) {
            this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> Rellena todos los campos del formulario!!!";
          } else if (this.validarFormulario() == 2)
          {
            this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> Has puesto tu email incorrecto. Vuelve a intentarlo!!!";
          } else if (this.validarFormulario() == 3) {
            this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> Has una password invalida, debe tener entre 3 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.!!!";
          } else if (this.validarFormulario() == 4) {
            this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> El nombre es incorrecto. !!!";
          } else if (this.validarFormulario() == 5) {
            this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> El apellido es incorrecto. !!!";
          } else {
            this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> Formulario incorrecto";
          }

        } else {

          var altaData = {
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email" : this.email,
            "password" : this.password
          };
          console.log("altaData:" + altaData);
          this.$.doAlta.body = JSON.stringify(altaData);
          this.$.doAlta.generateRequest();
          console.log("Petición enviada");
        }

      }

      validarFormulario() {

        var retorno = 0;
        if (((this.first_name == null) || (this.first_name == "")) ||
           ((this.last_name == null) || (this.last_name == "")) ||
           ((this.password == null) || (this.password == "")) ||
           ((this.email == null) || (this.email == ""))) {
            retorno = 1;
        }

        var exprEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
        if (!exprEmail.test(this.email)) {
          console.log("error de email");
          retorno = 2;
        }

        var exprPw = /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{3,16}$/;
        if (!exprPw.test(this.password)) {
          console.log("error de password");
          retorno = 3;
        }
        var exprNombre = /^([A-Z]{1}[a-zñáéíóú]+[\s]*)+$/;
        if (!exprNombre.test(this.first_name)) {
          console.log("error de nombre");
          retorno = 4;
        }

        if (!exprNombre.test(this.last_name)) {
          console.log("error de apellido");
          retorno = 5;
        }

        return(retorno);
      }

      showError(error) {

        console.log('ERROR .... ' + error.detail.request.__data.status);
        console.log(error);
        if (error.detail.request.__data.status == 401) {
          console.log('ERROR - Email existe');
          this.shadowRoot.getElementById("mensalta").style.color = "#ff0000";
          this.shadowRoot.getElementById("mensalta").innerHTML = "<strong> ERROR. </strong> El email ya existe, prueba con otro.";
        } else {
          console.log('ERROR GENERAL');
          this.shadowRoot.getElementById("mensalta").style.color = "#ff0000";
          this.shadowRoot.getElementById("mensalta").innerHTML = "Se ha producido un <strong> ERROR. </strong> Por favor, vuelve a intentarlo!!!!!";
        }
      }

    }
    window.customElements.define(MyAltaUsuario.is, MyAltaUsuario);

  </script>
</dom-module>
