
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-alta-movement">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--
FORMULARIO DE ALTA
-->

    <div class="container">

      <div class="form-group">

           <h2 class="display-6"> Alta de nuevo movimiento {{typemov}} </h2>

      </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="concept">Concepto:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="concept" placeholder="Concepto" name="concept" value="{{concept::input}}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="amount">Importe:</label>
          <div class="col-sm-2">
            <input type="number" class="form-control" id="amount" placeholder="Importe" name="amount" value="{{amount::input}}" required>
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="control-label col-sm-2" for="mcurrency">Divisa:</label>
          <div class="col-sm-2">
            <input type="text" disabled class="form-control" id="mcurrency" placeholder="divisa" name="mcurrency" value="{{mcurrency::input}}" pattern="[A-Z]{3}" required>
          </div>
        </div> -->

        <div class="container">
          </br>
          <button type="button" class="btn btn-ttc" on-click="altaMovimiento">Alta</button>
          <button type="button" class="btn btn-ttc" on-click="volverMovimientos">Volver</button>
          </br>
        </div>
    </div>

    </br>
    <div id="mensaje"></div>

<!-- Ejecución en local-->
    <!-- <iron-ajax
      id="doAlta"
      url="http://localhost:3000/apitechu/v1/movements"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    <iron-ajax
      id="getBalance"
      url="http://localhost:3000/apitechu/v1/movements/{{id}}/{{iban}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    > -->

<!-- Ejecución en openshift-->
    <iron-ajax
      id="doAlta"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/movements"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    <iron-ajax
      id="getBalance"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/movements/{{id}}/{{iban}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAltaMovement extends Polymer.Element {
      static get is() { return 'my-alta-movement'; }
      static get properties() {


        return {
          iban: {
            type: String
          },
          id: {
            type: String
          },
          concept: {
            type: String
          },
          type: {
            type: String
          },
          amount: {
            type: Number
          },
          balance: {
            type: Number
          },
          typemov: {
            type: String
          },
          currency: {
            type: String
          },
          tipo: {
            type: String
          }
        };
      }

      altaMovimiento() {
        console.log("estamos en la funcion de alta de movimiento");
        console.log("vamos a enviar la petición");
        this.shadowRoot.getElementById("mensaje").innerHTML = "";
        if (!this.validarFormulario()) {
          this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
          this.shadowRoot.getElementById("mensaje").innerHTML = "Se ha producido un <strong> ERROR. </strong> Por favor, revisa la información y vuelve a intentalo!!!!!";
        } else {
          var saldo = this.balance - this.amount;
          console.log("saldo:"+ saldo);
          if (this.type=="-" && saldo < 0 ) {
            this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
            this.shadowRoot.getElementById("mensaje").innerHTML = "<strong>Saldo insuficiente!!</strong>"
          } else {

            var altaData = {
              "iban": this.iban,
              "user_id": this.id,
              "concept" : this.concept.toUpperCase(),
              "type" : this.type,
              "amount" : parseFloat(this.amount),
              "mcurrency" : this.currency
            };
            console.log("altaData:" + altaData);
            this.$.doAlta.body = JSON.stringify(altaData);
            this.$.doAlta.generateRequest();
            console.log("Petición enviada");
            this.concept = null;
            this.amount = null;
            // this.mcurrency = null;
          }
        }
      }

      validarFormulario() {
        var retorno = true;
        if (((this.concept == null) || (this.concept == "")) ||
           ((this.amount == 0) || (this.amount == ""))) {
          //  ((this.amount == 0) || (this.amount == "")) ||
          //  ((this.mcurrency == null) || (this.mcurrency == ""))) {

            retorno = false;
        }

        var regDecimal = /\d{0,9}(\.\d{0,2})?/
        if (!regDecimal.test(this.amount)) {
            retorno = false;
        }


        // // var regDecimal = /^\d*\.?\d*$/;
        // var regDecimal = /\d{0,9}(\.\d{0,2})?/
        // if (regDecimal.test(this.amount)) {
        //     retorno = false;
        // }

        return(retorno);

      }



      volverMovimientos(e) {
        console.log("estoy en volver a movimientos");
        this.shadowRoot.getElementById("mensaje").innerHTML = "";
        this.dispatchEvent(new CustomEvent("vueltamovimiento", {"detail":{"id":this.id, "iban": this.iban}}));
      }
      manageAJAXResponse(data) {
        console.log("respuesta del iron-ajax de alta");
        console.log(data.detail.response);
        this.shadowRoot.getElementById("mensaje").innerHTML = "";
        this.dispatchEvent(new CustomEvent("vueltamovimiento", {"detail":{"id":this.id, "iban": this.iban}}));
      }

      showError(error) {
        console.log('ERROR .... ' + error.detail.request.data.status);
        console.log(error);
        this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
        this.shadowRoot.getElementById("mensaje").innerHTML = "Se ha producido un <strong> ERROR. </strong> Por favor, revisa la información y vuelve a intentarlo!!!!!";
        this.concept = null;
        this.amount = null;
        // this.mcurrency = null;
      }

    }

    window.customElements.define(MyAltaMovement.is, MyAltaMovement);

  </script>
</dom-module>
