<!--
app tp bank
 -->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<!-- <link rel="import" href="my-icons.html"> -->

<link rel="import" href="my-login-usuario.html">
<link rel="import" href="my-logout-usuario.html">
<link rel="import" href="my-alta-usuario.html">
<link rel="import" href="my-visor-usuario.html">
<link rel="import" href="my-visor-cuentas.html">
<link rel="import" href="my-visor-movimientos.html">
<link rel="import" href="my-alta-movement.html">
<link rel="import" href="my-inicio.html">
<link rel="import" href="my-view404.html">

<!-- app tp bank -->
<!-- ESTILOS DE LA CABECERA Y EL MENÚ -->

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #71878f;
        --app-secondary-color: #282e30;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
        background-color:blue;
      }

      app-drawer {
        --app-drawer-content-container: {
          background-color: #ced6d8;
        }
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: black;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        /*display: block;*/
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: white;
        font-weight: bold;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menú</app-toolbar>
        <iron-selector selected="[[page::changed]]" attr-for-selected="name" class="drawer-list" role="navigation"><br>
          <a hidden$="{{isLogged}}" name="login-usuario" href="[[rootPath]]login-usuario">Entra en tu banco</a> <br>
          <a hidden$="{{isLogged}}" name="alta-usuario" href="[[rootPath]]alta-usuario">Date de alta</a> <br>
          <a hidden$="{{!isLogged}}" name="visor-usuario" href="[[rootPath]]visor-usuario">Tus datos</a> <br>
          <a hidden$="{{!isLogged}}" name="visor-cuentas" href="[[rootPath]]visor-cuentas">Tus cuentas</a> <br>
          <a hidden$="{{!isLogged}}" name="logout-usuario" href="[[rootPath]]logout-usuario">Salir</a> <br>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Bienvenido a TP Bank</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-inicio name="inicio"></my-inicio>
          <my-login-usuario name="login-usuario" on-eventologin="estoyLogado"></my-login-usuario>
          <my-alta-usuario  name="alta-usuario"></my-alta-usuario>
          <my-visor-usuario name="visor-usuario" id={{id}}></my-visor-usuario>
          <my-logout-usuario name="logout-usuario" id={{id}} on-eventologout="hacerLogout"></my-logout-usuario>
          <my-visor-cuentas name="visor-cuentas" id={{id}} flag={{flag}} on-eventomovimiento="consultarMovimiento" on-eventoaltacuenta="altaCuenta"></my-visor-cuentas>
          <my-visor-movimientos name="visor-movimientos" id={{id}} iban={{iban}} balance={{balance}} currency={{currency}} flagmov={{flagmov}} on-eventocuenta="consultarCuentas" on-eventoingreso="hacerIngreso"></my-visor-movimientos>
          <my-alta-movement name="alta-movement" id={{id}} iban={{iban}} type={{type}} balance={{balance}} typemov={{typemov}} currency={{currency}} on-vueltamovimiento="altaConsultarMovimiento"></my-alta-movement>
          <my-alta-cuenta name="alta-cuenta" id={{id}} currency={{currency}} on-vueltacuentas="altaVueltaCuentas"></my-alta-movement>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          isLogged: {
            type : Boolean,
            value : false,
            reflectToAttribute: true,
            observer: '_isLoggedChanged',
          } ,
          flag: {
            type : Number,
            value : +0,
          } ,
          flagmov: {
            type: Number,
            value : +0,
          },

          route: Object,
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _isLoggedChanged(isLogged) {
        console.log("isLogged ha cambiado" + this.isLogged);

      }

      estoyLogado(e) {
        console.log("funcion estoyLogado");
        this.isLogged = true;
        console.log("isLogged:" + this.isLogged);
        this.id = e.detail.id;
        this.page = "visor-usuario";
      }

      consultarMovimiento(e) {
        console.log("funcion consultarMovimiento");
        console.log(String(e.detail.iban));
        this.iban = String(e.detail.iban);
        this.balance = e.detail.balance;
        this.currency = e.detail.currency;
        console.log("id:" + this.id);
        console.log("iban:" + this.iban);
        console.log("balance:" + this.balance);
        this.page = "visor-movimientos";
      }

      altaConsultarMovimiento(e) {
        console.log("funcion altaConsultarMovimiento");
        console.log(String(e.detail.iban));
        this.iban = String(e.detail.iban);
        console.log("id:" + this.id);
        console.log("iban:" + this.iban);
        this.flagmov += 1;
        console.log("flagmov:" + this.flagmov);
        this.page = "visor-movimientos";
      }



      altaVueltaCuentas(e) {
        console.log("funcion altaVueltaCuentas");
        console.log(String(e.detail.id));
        this.id = String(e.detail.id);
        this.flag += 1;
        console.log("flag:" + this.flag);
        this.page = "visor-cuentas";
      }


      hacerLogout(e) {
        console.log("hacemos logout");
        this.isLogged = false;
        this.id = null;
        this.iban = null;
        this.flag = 0;
        this.flagmov = 0;
        this.page= "inicio";
      }

      consultarCuentas(e) {
        console.log("funcion consultarCuentas");
        console.log(String(e.detail.id));
        this.flag += 1;
        console.log("flag:" + this.flag);
        this.page = "visor-cuentas";
      }


      altaCuenta(e) {
        console.log("funcion altacuenta");
        console.log("id:" + e.detail.id);
        this.id = e.detail.id;
        this.page = "alta-cuenta";
      }


      hacerIngreso(e) {
        console.log("funcion hacerIngreso");
        console.log("id:" + e.detail.id);
        console.log("iban:" + e.detail.iban);
        console.log("type:" + e.detail.type);
        console.log("balance:" + e.detail.balance);
        console.log("currency:" + e.detail.currency);
        console.log("typemov:" + e.detail.typemov);
        this.id = e.detail.id;
        this.iban = e.detail.iban;
        this.type = e.detail.type;
        this.typemov =  e.detail.typemov;
        this.balance = e.detail.balance;
        this.currency = e.detail.currency;
        console.log("this.typemov"+this.typemov);
        this.page = "alta-movement";
      }


      static get observers() {
        console.log("esstoy en observers");
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        console.log("esstoy en _routePageChanged");
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        console.log("this.page:" + this.page);
        console.log("page:" + page);
        this.page = page || 'inicio';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        console.log("esstoy en _pageChanged");
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        console.log("resolvedPageUrl:" + resolvedPageUrl);
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
