
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-inicio">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
            /*all: initial; */
      }
      .img1{
        background-image: url("https://s3-eu-west-1.amazonaws.com/proyectotechutpbank/images/banco-online.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .texto{
        background-color: white;
        text-align: center;
        margin-top: 100px;
        opacity: 0.7;
        width: 799px;
        margin-left: 150px;
        border-radius: 15px;
      }
      .hover{
        background-color:white;
      }
      .cambio:hover{
        color:blue;
        font-family:Arial;
        font-size:14px;
        opacity: 0.7;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="container">
         <div class="img1">
               <div class="texto">
                     <br>
                     <br>
                     <h1>Bienvenido a la banca online de TP Bank!</h1>
                     <br>
                     <p>Hazte cliente sin tener que domiciliar tu nómina</p>
                     <p>Cuentas sin comisiones</p>
                     <p>Tarjetas sin cuota de emisión</p>
                     <p>Movimientos ilimitados</p>
                     <p>y todo desde el móvil</p>
                     <br>
                     <br>
               </div>
          </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyInicio extends Polymer.Element {
      static get is() { return 'my-inicio'; }
      static get properties() {
        return {

        };
      }

    }

    window.customElements.define(MyInicio.is, MyInicio);
  </script>
</dom-module>
