
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-logout-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="form-group">
         <br>
         <h4>Por favor, confirma que deseas cerrar sesión</h4>
         <br>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button  class="btn btn-ttc" on-click="logout">Salir</button>
      </div>
    </div>

    <br>

    <div id="mensaje"></div>

<!-- Ejecución en local-->
    <!-- <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v1/logout/{{id}}"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    > -->

<!-- Ejecución en openshift-->
    <iron-ajax
      id="doLogout"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/logout/{{id}}"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyLogoutUsuario extends Polymer.Element {
      static get is() { return 'my-logout-usuario'; }
      static get properties() {
        return {
             id : {
            type : Number
          }, isLogged: {
            type : Boolean
          }, isError: {
            type : Boolean,
            value : false
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("respuesta logout - ");
        console.log(data.detail.response);
        this.isLogged = false;
        this.isError = false;
        this.id = null;
        this.dispatchEvent(new CustomEvent("eventologout", {"detail":{"id":this.id}}));
      }

      logout() {
        console.log("estamos en la funcion logout del on-click");
        console.log(this.id);
        console.log("vamos a enviar la petición");
// lanzamos la petición
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");
      }

      showError(error) {
        console.log("ERROR .... ");
        console.log(error);
        this.isError = true;
        this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
        this.shadowRoot.getElementById("mensaje").innerHTML = "Se ha producido un <strong> ERROR. </strong> Por favor, vuelve a intentarlo!!!!!";
      }
    }

    window.customElements.define(MyLogoutUsuario.is, MyLogoutUsuario);
  </script>
</dom-module>
