
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-login-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div>
      <br>
      <h2>Entra en tu banco</h2>
      <br>
      <p>Por favor, introduce tus claves de acceso para poder operar</p>
      <p>Si todavia no eres cliente, puedes darte de alta</p>
    </div>

    <div class="my-form">
      <form>
        <label class="my-label">Email:</label>
        </br>
        <input class="my-input" id="email" type="email" placeholder="Introduce tu email" value="{{email::input}}"></input>
        </br>
        <label class="my-label">Password:</label>
        </br>
        <input class="my-input" id="password" type="password" placeholder="Introduce tu password" value="{{password::input}}"></input>
        </br>
      </form>
    </div>

    <button class="my-button btn btn-ttc" on-click="login">Entrar</button>

    </br>
    </br>

    <div id="menslogin"></div>

<!-- Ejecución en local-->
    <!-- <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    > -->
<!-- Ejecución en openshift-->
    <iron-ajax
      id="doLogin"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyLoginUsuario extends Polymer.Element {
      static get is() { return 'my-login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },  password: {
            type: String
          }, isLogged: {
            type : Boolean,
            value: false
          }
        };
      }
      manageAJAXResponse(data) {
        console.log("llegan los resultados");
        console.log(data.detail.response);
        this.isLogged = true;
        this.email = null;
        this.password = null;
//        this.isError = false;
//        window.location = "user/" + data.detail.response.idUsuario;
        console.log("data:" + data.detail.response.idUsuario);
        this.dispatchEvent(new CustomEvent("eventologin", {"detail":{"id":data.detail.response.idUsuario}}));
      }

      login() {
        console.log("estamos en la funcion login del on-click");
        console.log("vamos a enviar la petición");

        var exprEmail = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;
        if (!exprEmail.test(this.email)) {

          console.log("error de email");
          this.shadowRoot.getElementById("menslogin").style.color = "#ff0000";
          this.shadowRoot.getElementById("menslogin").innerHTML = "<strong> Por favor, introduce un Email correcto </strong> ";

        } else {

          this.iban = null;
          this.flag = 0;
          this.flagmov = 0;
          // es el body de la peticion de nuestro user
          var loginData = {
            "email" : this.email,
            "password" : this.password
          };
          // ojo ponemos $ para referenciar a un elemento del dom local, shadow del componente polymer
          this.$.doLogin.body = JSON.stringify(loginData);
          // lanzamos la petición
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");

        }

      }

      showError(error) {
        console.log("ERROR .... ");
        console.log(error);
        this.shadowRoot.getElementById("menslogin").style.color = "#ff0000";
        this.shadowRoot.getElementById("menslogin").innerHTML = "<strong> Usuario o password incorrecto. </strong> Por favor, vuelve a intentarlo";
      }
    }

    window.customElements.define(MyLoginUsuario.is, MyLoginUsuario);
  </script>
</dom-module>
