
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-visor-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
    /**        all: initial; */
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="container">

      <div class="form-group">
           <h2 class="display-8">Cuenta: {{iban}} con saldo: {{balance}} {{currency}}</h2>
           <h2 class="display-8">Estos son los movimientos:</h2>
      </div>

      <div id="movimientos">

        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>FECHA</th>
              <th>CONCEPTO</th>
              <th>TIPO</th>
              <th>IMPORTE</th>
              <th>DIVISA</th>
            </tr>
          </thead>
          <body>
            <template
                     is="dom-repeat"
                     items="{{movements}}"
                     as="movement"
                   >
                   <tr>
                     <td>{{movement.date}}</td>
                     <td>{{movement.concept}}</td>
                     <td>{{movement.type}}</td>
                     <td>{{movement.amount}}</td>
                     <td>{{movement.mcurrency}}</td>
                   </tr>
              </template>
          </body>
        </table>
      </div>

    </div>

    <div class="container">
      <button type="button" class="btn btn-ttc" on-click="hacerIngreso" value="+">Ingreso</button>
      <button type="button" class="btn btn-ttc" on-click="hacerIngreso" value="-">Reintegro</button>
      </br>
    </div>

    <div class="container">
      </br>
      <button type="button" class="btn btn-ttc" on-click="volverCuentas">Volver</button>
    </div>
    </br>
    <div id="mensaje"></div>

<!-- Ejecución en local-->
    <!-- <iron-ajax auto
      id="getMovement"
      url="http://localhost:3000/apitechu/v1/movements/{{id}}/{{iban}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      id="refreshMovement"
      url="http://localhost:3000/apitechu/v1/movements/{{id}}/{{iban}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    > -->

<!-- Ejecución en openshift-->
    <iron-ajax auto
      id="getMovement"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/movements/{{id}}/{{iban}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      id="refreshMovement"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/movements/{{id}}/{{iban}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyVisorMovimientos extends Polymer.Element {
      static get is() { return 'my-visor-movimientos'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          movements: {
            type: Array
          },
          currency: {
            type: String
          },
          flagmov: {
            type: Number,
            value: +0,
            observer: 'refreshm'
          },
          sinMovements: {
            type: Boolean,
            value: false
          }

        }
      };

      showData(data) {
          console.log("estoy en showData de movimientos");
          console.log("data.detail.response:" + data.detail.response);
          this.movements = data.detail.response;
          this.balance=this.calcularSaldo();
          console.log("calcular-saldo" + this.balance);
          console.log(this.movements);

      }

      showError(error) {
           console.log("iban:" + this.iban);
           console.log("id:" + this.id);
           console.log("la consulta de movimientos vacia");
           console.log("ERROR .... :" + error);
           this.sinMovements = true;

      }

      volverCuentas(e) {
          console.log("estoy en volver a cuentas");
          this.shadowRoot.getElementById("mensaje").innerHTML = "";
          this.dispatchEvent(new CustomEvent("eventocuenta", {"detail":{"id":this.id}}));
      }

      hacerIngreso(e) {
          var ingreso = e.target.value;
          var typemov;
          if (e.target.value == "+") {
              typemov = "ingreso"
          } else {
            typemov = "reintegro"
          }
          console.log("ingreso:" + ingreso);
          console.log("typemov"+ typemov);
          this.shadowRoot.getElementById("mensaje").innerHTML = "";
          if ((ingreso == "-") && (this.balance <= 0)) {
            this.shadowRoot.getElementById("mensaje").innerHTML = "<strong>Sin Saldo!</strong> Es necesario hacer un ingreso."
            this.shadowRoot.getElementById("mensaje").style.color = "#ff0000";
          } else {
            console.log("estoy en hacer ingreso");
            console.log("typemov"+ typemov);
            this.dispatchEvent(new CustomEvent("eventoingreso", {"detail":{"id":this.id, "iban":this.iban, "type":ingreso, "typemov": typemov, "balance":this.balance, "currency":this.currency}}));
        }
      }

      refreshm(flagmov) {
          console.log("entro en refresh movimientos");
          this.shadowRoot.getElementById("mensaje").innerHTML = "";
          this.$.refreshMovement.generateRequest();
      }

      calcularSaldo() {
          var saldo = 0;
          var i = 0;
          for (i=0;i<this.movements.length;i++) {
            if (this.movements[i].type == "+" ) {
              saldo += this.movements[i].amount;
            } else {
              saldo -= this.movements[i].amount;
            }
          }
          return saldo;
      }


    }

    window.customElements.define(MyVisorMovimientos.is, MyVisorMovimientos);
  </script>
</dom-module>
