
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-visor-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
    /**        all: initial; */
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <div class="container">

      <div id="cuentas">

        </br>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>IBAN</th>
              <th>SALDO</th>
              <th>DIVISA</th>
              <th>CONTRAVALOR</th>
              <th>DIVISA</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <body>
            <template
                     is="dom-repeat"
                     items="{{accounts}}"
                     as="account"
                   >
                   <tr>
                     <td>{{account.iban}}</td>
                     <td>{{account.balance}}</td>
                     <td>{{account.currency}}</td>
                     <td>{{account.countervalue}}</td>
                     <td>{{account.countercurrency}}</td>
                     <td>
                       <button type="button" class="btn btn-ttc">
                          <img src="https://s3-eu-west-1.amazonaws.com/proyectotechutpbank/images/x_white20_20.png" title="Cancelar" width="15" name="accounts" id="{{account.iban}}" on-click="bajaCuenta" value="{{account.iban::input}}">
                       </button>
                     </td>
                     <td>
                       <button type="button" class="btn btn-ttc" title="Ver movimientos">
                          <img src="https://s3-eu-west-1.amazonaws.com/proyectotechutpbank/images/lupa_white20_20.png" title="Ver movimientos" width="20" name="accounts" id="{{account.iban}}" on-click="_consultaMovimiento" data-iban$="{{account.iban}}" data-balance$={{account.balance}} data-currency$={{account.currency}}>
                       </button>
                     </td>
                   </tr>
              </template>
          </body>
        </table>
      </div>

      <div class="container">
        </br>
        <button type="button" class="btn btn-ttc" on-click="nuevaCuenta">Nueva cuenta</button>
      </div>

    </div>

<!-- Ejecución en local-->
    <!-- <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v1/accounts/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      id="deleteAccount"
      url="http://localhost:3000/apitechu/v1/accounts/{{id}}/{{bajaIban}}"
      handle-as="json"
      method="POST"
      on-response="deleteResponse"
      on-error="showErrorDelete"
    >

    <iron-ajax
      id="refreshAccount"
      url="http://localhost:3000/apitechu/v1/accounts/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    > -->

<!-- Ejecución en openshift-->
    <iron-ajax auto
      id="getAccount"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/accounts/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      id="deleteAccount"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/accounts/{{id}}/{{bajaIban}}"
      handle-as="json"
      method="POST"
      on-response="deleteResponse"
      on-error="showErrorDelete"
    >

    <iron-ajax
      id="refreshAccount"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/accounts/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyVisorCuentas extends Polymer.Element {
      static get is() { return 'my-visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          id : {
            type : String
          },
          ibanAConsultar : {
            type : String
          },
          bajaIban : {
            type : String
          } ,
          flag : {
            type : Number,
            value: +0,
            observer: 'refresh'
          }
        }
      };

      _consultaMovimiento(e) {
        console.log("estoy en consulta de movimiento");
        var desIban = e.target.dataset.iban;
        var desBalance = e.target.dataset.balance;
        var desCurrency = e.target.dataset.currency;
        console.log("desIban:" + desIban);
        console.log("balance:" + desBalance);
        this.dispatchEvent(new CustomEvent("eventomovimiento", {"detail":{"iban":desIban,"balance":desBalance,"currency":desCurrency}}));
      }

      bajaCuenta(e) {
        console.log("estoy en la baja de la cuenta");
        console.log(e.target.value);
        this.bajaIban = e.target.value;
        console.log("bajaIban:" + this.bajaIban);
        console.log("bajaId:" + this.id);
        this.$.deleteAccount.generateRequest();

      }

      nuevaCuenta() {
        console.log("estoy en alta nueva cuenta");
        this.dispatchEvent(new CustomEvent("eventoaltacuenta", {"detail":{"id":this.id}}));

      }

      showData(data) {
          console.log("estoy en showData de cuentas por id");

          this.accounts = data.detail.response;
          console.log(this.accounts);
      }

      showError(error) {
           console.log("la consulta de cuentas vacia");
           console.log("ERROR .... :" + error);
           this.accounts = null;
           console.log(this.id);
      }

      refresh(flag) {
          console.log("entro en refresh");
          console.log("id:" + this.id);
          console.log("iban:" + this.iban);
          this.$.refreshAccount.generateRequest();
      }

      // manageAJAXResponse(data) {
      //   console.log("llegan los resultados");
      //   console.log(data.detail.response);
      //   console.log("data:" + data.detail.response.iban);
      //   this.$.refreshAccount.generateRequest();
      //
      // }

      showErrorNew(error) {
           console.log("error alta de cuenta");
           console.log("ERROR .... :" + error);


      }

      deleteResponse(data) {
        console.log("respuesta del delete cuenta");
        console.log(data.detail.response);
        this.$.refreshAccount.generateRequest();
      }

      showErrorDelete(error) {
           console.log("error baja de cuenta");
           console.log("ERROR .... :" + error);
      }

    }

    window.customElements.define(MyVisorCuentas.is, MyVisorCuentas);
  </script>
</dom-module>
