
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-visor-usuario">
  <template>
      <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
            /*all: initial; */
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div hidden$="{{isError}}" class="alert alert-info">
      Bienvenido de nuevo <strong>{{first_name}} !!!!</strong> </br>
    </div>

    <div hidden$="{{isError}}" class="alert alert-info">
      Nombre:  <strong>{{first_name}} </strong> </br>
      Apellido: <strong>{{last_name}} </strong> </br>
      Email: <strong>{{email}} </strong>
    </div>

    <div hidden$="{{!isError}}" class="alert alert-danger">
      <strong>Error al recuperar usuario.</strong>  Hacer el login de nuevo!!!!!
    </div>

<!-- Ejecución en local-->
    <!-- <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v1/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    > -->

<!-- Ejecución en openshift-->
    <iron-ajax auto
      id="getUser"
      url="http://tp-bank-tp-bank.1d35.starter-us-east-1.openshiftapps.com/apitechu/v1/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyVisorUsuario extends Polymer.Element {
      static get is() { return 'my-visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, id: {
            type: Number
          }, email: {
            type: String
          }, isError: {
            type: Boolean,
            value: false
          }
        };
      }
      showData(data) {
          console.log("estoy en showData de visor usuario");
          console.log(data.detail.response.first_name);
          console.log(data.detail.response.last_name);
          console.log(data.detail.response.email);

          this.first_name = data.detail.response.first_name;
          this.last_name = data.detail.response.last_name;
          this.email = data.detail.response.email;

      }

      showError(error) {
        console.log("ERROR en IRON-AJAX .... ");
        this.isError = true;
        console.log(error);
      }

    }

    window.customElements.define(MyVisorUsuario.is, MyVisorUsuario);
  </script>
</dom-module>
