
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- Estilos compartidos por los componentes de tp bank -->
<dom-module id="shared-styles">
  <template>
    <style>

    /*.card {
      margin: 24px;
      padding: 16px;
      color: #757575;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .circle {
      display: inline-block;
      width: 64px;
      height: 64px;
      text-align: center;
      color: #555;
      border-radius: 50%;
      background: #ddd;
      font-size: 30px;
      line-height: 64px;
    }*/

      h1 {
        margin: 16px 0;
        color: white;
        font-size: 22px;
      }

      h2 {
        margin: 16px 0;
        color: white;
        font-size: 15px;
      }

      /* Estilos propios de formulario
      -------------------------------------------------- */
      .my-form {
        margin:25px auto;
        background-color: yelow;
        width:1100px;
        margin-top:  -10px;
      }
      .my-label{
        margin-top: 15px;
      }
      .my-input{
        border-radius: 5px;
        width: 276px;
        height: 40px;
        padding:5px
      }
      .my-button{
        margin-top: -3px;
        margin-left: 34px;
      }

      /* Botón propio
      -------------------------------------------------- */

      /* Redefine los estilos de .btn */
      /* Modificar el texto y el color de fondo en los tres estados
         principales del botón: default, hover y active. */
      .btn-ttc,
      .btn-ttc:hover,
      .btn-ttc:active {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #4b585d;
      }

      /* Aplicar gradientes de colores */

      .btn-ttc {
        background-repeat: repeat-x;
        background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
        ...
      }

      /* Estilos del estado :hover del botón */

      .btn-ttc:hover {
        background-position: 0 -15px;
      }

      .alert-info{
        background-color: #ced6d8;
        color: black;
      }

    </style>
  </template>
</dom-module>
